.set-container {
    position:relative;
    border-radius: 25px;
    height: 300px;
    width: 770px;
    border: 3px solid black;
    margin: 20px;
    background: rgb(59,71,73);
    background: linear-gradient(180deg, rgba(59,71,73,1) 0%, rgba(121,138,141,1) 41%, rgba(171,188,190,1) 65%, rgba(163,204,213,1) 100%);
    text-align:left;
}
h2 {
    position: absolute;
    font-size: 30px;
    right:50px;
    top:10px;
    text-decoration: underline;
}
.character {
    position: absolute;
    bottom: 0px;
    height: 300px;
    width: 200px;
}
.charimg{
    position: relative;
    width: 140%;
    top: 20px;
    left: -20px;
}
.itemimg {
    position: relative;
    width: 100px;
    top: -76px;
    right: 8px;
}
.itemtext {
    position: relative;
    top: -60px;
    font-size: 30px;
}
.item1 {
    position: absolute;
    top: 180px;
    left: 250px;
    height: 150px;
    width: 150px;
}
.item2 {
    position: absolute;
    top: 180px;
    left: 380px;
    height: 150px;
    width: 150px;
}
.item3 {
    position: absolute;
    top: 180px;
    left: 510px;
    height: 150px;
    width: 150px;
}
.item4 {
    position: absolute;
    top: 180px;
    left: 640px;
    height: 150px;
    width: 150px;
}
.noitem{
    width: 100px;
    height: 100px;
    border-radius: 12px;
    background: linear-gradient(145deg, #41494a, #373d3e);
    cursor:pointer;
}
.haveitem{
    width: 100px;
    height: 100px;
    border-radius: 9px;
    background: #b4b715;
    box-shadow: inset 9px 9px 18px #75770e,
            inset -9px -9px 18px #f3f71c;
    cursor:pointer;

}